{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="blue">
    <h1>hellow baabteee</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, molestias omnis aperiam fuga iusto maxime fugiat voluptates dolor cumque blanditiis molestiae eius! Modi odio eius quam a id cum similique.</p>
    <img src="{% static 'image/download.jpg' %}" alt="">
</body>
</html>